<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>Load</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Load</servlet-name>
        <servlet-class>com.manhlee.Controller.LoadDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Load</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <security-constraint>
<!--        tai nguyen-->
        <web-resource-collection>
<!--            name user set-->
            <web-resource-name>
<!--                SecuredApp-->
            </web-resource-name>
<!--            all url-->
            <url-pattern>/*</url-pattern>
<!--            all method GET and POST-->
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
               Let only use after login-->
            </description>
            <role-name>teacher</role-name>
            <role-name>student</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/logonError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>teacher</role-name>
    </security-role>
    <security-role>
        <role-name>student</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                SecuredApp for teacher feature
            </web-resource-name>
            <url-pattern>/teacher/*</url-pattern>
            <url-pattern>/del/*</url-pattern>
            <url-pattern>/add/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
                Let only use for teacher role
            </description>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>